<!doctype html>
<html lang="en">
    <head>
        <title>Basic Express Template</title>
        <link rel="stylesheet" href="https://cdn.jayson.codes/main.min.css">
    </head>
    <body>
        <div class="container mt-4">
            {{{body}}}
        </div>
    </body>
</html>